@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
	themes: winter --default, dracula --prefersdark;
}
@plugin "daisyui/theme" {
	name: "winter";
	default: true;
	customgreen: "#33FF57";
	customblue: "#3366FF";
}

@layer components {
	.align-item {
		@apply mx-auto max-w-6xl px-8;
	}
}
